<h1>Editing exam</h1>

<%= error_messages_for :exam %>

<% form_for @exam, :url => { :action => "update_exam", :controller => :admin } do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name, :size => 40 %>
  </p>

  <p>
    <b>Status</b><br />
    <%= select_tag 'status[]', options_for_select( [['disabled','0'], ['enabled','1']] ) %>
  </p>

  <p>
    <b>Questions in Exam</b><br />
    <%= collection_select :question, :id, @questions, :id, :get_question, {}, {:multiple=>true} %>
  </p>
<% end %>

<%= link_to 'Show', :action => :show_exam, :id => @exam.id %> |
<%= link_to 'Back', :action => :index %>